
body{
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
}
/*SideBar*/
.container-sidebar{
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 50px;
    height: 100vh;
    position: fixed;
    
}
.container-sidebar h1{
    font-size: 0.75rem;
    display: block;
    align-items: center;
}
.admin-profile-letter{
    margin-bottom: 1rem;
    width: 55px;
    height: 55px;
    border: 2px solid black;  
    border-radius: 50%; 
    display: inline-block;
}
.circle-container{
    width: 55px;
    height: 55px;
    border: 2px solid black; 
    border-radius: 50%; 
    display: inline-block;
    margin: 1rem 0 0 0;
}



/*mainpage*/
.container-mainpage{
    background-color: saddlebrown;
    flex-grow: 1;
    padding: 20px;
}



/*navbar*/

.container-navbar{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: cyan;
    padding: 20px;
    height: 50px;
    
    

}
.notification-container{
    width: 55px; 
    height: 55px; 
    border: 2px solid black; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

.profile-container{
    display: flex;
    align-items: center;
    border: 2px solid black; 
    padding: 8px 10px;
    border-radius: 20px; 
    cursor: pointer;
    position: relative;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border: 2px solid black; 
    border-radius: 50%; 
    margin-right: 10px;
}

.profile-name {
    color: black;
}

.profile-name h1 {
    margin: 0;
    font-size: 16px;
}

.profile-name h2 {
    margin: 0;
    font-size: 12px;
    color: black;
}

.drop-down-icon {
    color: black;
    margin-left: 10px;
    cursor: pointer;
    position: relative; 
}

.drop-down {
    display: block; 
    visibility: hidden; 
    opacity: 0; 
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #444;
    list-style-type: none;
    padding: 10px;
    margin: 2px 0 0 0;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: visibility 0.2s ease, opacity 0.2s ease;
}

.drop-down ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.drop-down ul li {
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

.drop-down ul li:hover {
    background-color: #555;
}


.drop-down-icon:hover + .drop-down,
.drop-down:hover {
    visibility: visible;
    opacity: 1;
}
