/* POPPINS FONT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400;500;600;700;800;display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popppins', sans-serif;
}

:root {
    --primary-color: #c6c3c3;
    --secondary-color: #ffffff;
    --black-color: #000000;
}

body {
    background-image: url(../Pictures/Icons/image.png);
    background-position: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover{
    text-decoration: underline;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0,  0, 0.2);
}

.loginBox {
    height: 700px;
    position: relative;
    width: 750px;
    backdrop-filter: blur(25px);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 4.5em 2.5em 4em 2.5em;
    color: var(--secondary-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0,  0, 0.3);
}

.loginHeader{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
}

.loginHeader span{
    font-size: 30px;
    color: var(--black-color);
}

.loginHeader::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 var(--primary-color);
}

.loginHeader::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 var(--primary-color);
}
.inputBox {
    justify-content: space-between;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    padding-top: 10px;
}

.inputBox1 {
    justify-content: space-between;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.inputField{
    width: 200px;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--secondary-color);
    padding-inline: 20px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
}

.inputField-date {
    width: 200px;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--secondary-color);
    padding-inline: 20px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
    
}

.inputField-date {
    width: 200px;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--secondary-color);
    padding-inline: 20px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
    
}

.optionField{
    width: 200px;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--secondary-color);
    padding-inline: 20px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none; 
}

.details{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.inputField-gym {
    width: 90%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--secondary-color);
    padding-inline: 20px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
}

#user{
    margin-bottom: 10px;
}

#gym, #username, #pass, #repass {
    margin-bottom: 10px
}

.label {
    position: absolute;
    top: 30px;
    left: 20px;
    transition: 0.2s;
}
.label-mid {
    position: absolute;
    top: 30px;
    left: 260px;
    transition: 0.2s;
}
.label-last {
    position: absolute;
    top: 30px;
    left: 500px;
    transition: 0.2s;
}

.label-age {
    position: absolute;
    top: 20px;
    left: 260px;
    transition: 0.2s;
}


.label-belt{
    position: absolute;
    top: -7px;
    left: 30px;
    transition: 0.2s;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 5px;
}

.label-bday{
    position: absolute;
    top: -7px;
    left: 510px;
    transition: 0.2s;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 5px;
}
.label-gym {
    position: absolute;
    top: 255px;
    left: 86px;
    transition: 0.2s;
}

.label-user {
    position: absolute;
    top: 320px;
    left: 86px;
    transition: 0.2s;
}
.label-pass {
    position: absolute;
    top: 385px;
    left: 86px;
    transition: 0.2s;
}
.label-repass {
    position: absolute;
    top: 450px;
    left: 86px;
    transition: 0.2s;
}


.inputField:focus ~ .label,
.inputField:valid ~ .label{
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}

.inputField:focus ~ .label-mid,
.inputField:valid ~ .label-mid{
    position: absolute;
    top: 0px;
    left: 265px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}

.inputField:focus ~ .label-last,
.inputField:valid ~ .label-last{
    position: absolute;
    top: 0px;
    left: 505px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}

.inputField-gym:focus ~ .label-gym,
.inputField-gym:valid ~ .label-gym{
    position: absolute;
    top: 225px;
    left: 90px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}

.inputField:focus ~ .label-age,
.inputField:valid ~ .label-age{
    position: absolute;
    top: -10px;
    left: 265px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}

.inputField-gym:focus ~ .label-user,
.inputField-gym:valid ~ .label-user{
    position: absolute;
    top: 292px;
    left: 90px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}

.inputField-gym:focus ~ .label-pass,
.inputField-gym:valid ~ .label-pass{
    position: absolute;
    top: 358px;
    left: 90px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}

.inputField-gym:focus ~ .label-repass,
.inputField-gym:valid ~ .label-repass{
    position: absolute;
    top: 422px;
    left: 90px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}

.input-a{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.icon{
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}

.regpass{
    position: absolute;
    top: 300px;
    right: 55px;
    font-size: 17px;
}

.fa-eye{
    position: absolute;
    top: 20px;
    right: 55px;
    font-size: 17px;
    color: var(--primary-color);
}
.fa-eye.active{
    color: var(--secondary-color);
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.input-submit{
    width: 100%;
    height: 50px;
    background: #ececec;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.input-submit:hover{
    background: var(--secondary-color);
}

.loginzone{
    text-align: center;
}

.loginzone a{
    font-weight: 500;
}

@media only screen and (max-width: 564px){
    .wrapper{
        padding: 20px;
    }
    .loginBox{
        padding: 7.5em 1.5em 4em 1.5em;
    }
}
