/* POPPINS FONT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400;500;600;700;800;display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popppins', sans-serif;
}

:root {
    --primary-color: #c6c3c3;
    --secondary-color: #ffffff;
    --black-color: #000000;
}
a{
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover{
    text-decoration: underline;
}
body{
    background: rgba(0, 0,  0, 0.2) url(../images/PTU.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0,  0, 0.2);
}

.form-container{
    height: 60vh;   
    position: relative;
    width: 750px;
    backdrop-filter: blur(30px);
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    padding: 4.5em 2.5em 4em 2.5em;
    color: var(--secondary-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0,  0, 0.2);
}
.signup_header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    width: 140px;
    height: 60px;
    border-radius: 0 0 20px 20px;
}
.signup_header span{
    font-size: 30px;
    color: var(--black-color);
}
.signup_header::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 var(--secondary-color);
}
.signup_header::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 var(--secondary-color);
}
.inputBox{
    padding-top: 20px;
}
.field{
    width: 90%;
    height: 50px;
    font-size: 16px;
    background: transparent;
    color: var(--secondary-color);
    padding-inline: 20px 20px;
    border: 2px solid var(--secondary-color);
    border-radius: 30px;
    outline: none;
    margin: 5px;
}
.field1{
    width: 90%;
    height: 50px;
    font-size: 16px;
    background: transparent;
    color: var(--secondary-color);
    padding-inline: 20px 20px;
    border: 2px solid var(--secondary-color);
    border-radius: 30px;
    outline: none;
    margin: 5px;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.optionField{
    width: 90%;
    height: 50px;
    font-size: 16px;
    background: transparent;
    color: var(--primary-color);
    padding-inline: 20px 20px;
    border: 2px solid var(--secondary-color);
    border-radius: 30px;
    outline: none;
    margin: 5px; 
}
.row1{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}
.fname{
    position: absolute;
    top: 97px;
    left: 57px;
    transition: 0.2s ease;
}
.mname{
    position: absolute;
    top: 97px;
    left: 285px;
    transition: 0.2s ease;
}
.lname{
    position: absolute;
    top: 97px;
    left: 514px;
    transition: 0.2s ease;
}

.row2{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.bday{
    position: absolute;
    top: 143px;
    left: 65px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 8px;
    font-size: 14px;
}
.age1{
    position: absolute;
    top: 167px;
    left: 287px;
    transition: 0.2s ease;
}
.belt1{
    position: absolute;
    top: 143px;
    left: 525px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 8px;
    font-size: 14px;
}
.row3{
    display: grid;
    grid-template-columns: 65% 30%;
    gap: 15px;
}
#role.optionField{
    width: 100%;
}
.role{
    position: absolute;
    top: 212px;
    left: 525px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 8px;
    font-size: 14px;
}
.col1{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.gym1{
    position: absolute;
    left: 87px;
    top: 237px;
    transition: 0.2s ease;
}
.user{
    position: absolute;
    left: 87px;
    top: 297px;
    transition: 0.2s ease;
}
.pass{
    position: absolute;
    left: 87px;
    top: 357px;
    transition: 0.2s ease;
}
.repass{
    position: absolute;
    left: 87px;
    top: 417px;
    transition: 0.2s ease;
}

.input-submit{
    width: 100%;
    height: 50px;
    background: #ececec;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}
.input-submit:hover{
    background: var(--secondary-color);
}
.loginzone{
    text-align: center;
    margin-top: 10px;
}

.loginzone a{
    font-weight: 500;
}

.field:focus ~ .fname,
.field:valid ~ .fname{
    position: absolute;
    top: 70px;
    left: 60px;
    font-size: 14px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;

}
.field:focus ~ .mname,
.field:valid ~ .mname{
    position: absolute;
    top: 70px;
    left: 290px;
    font-size: 14px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}
.field:focus ~ .lname,
.field:valid ~ .lname{
    position: absolute;
    top: 70px;
    left: 520px;
    font-size: 14px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}
.field1:focus ~ .age1,
.field1:valid ~ .age1{
    position: absolute;
    top: 143px;
    left: 292px;
    font-size: 14px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}
#pass.field , #cPass.field{
    padding-inline: 20px 35px;
}

.field:focus ~ .gym1,
.field:valid ~ .gym1{
    position: absolute;
    top: 212px;
    left: 90px;
    font-size: 14px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}
.field:focus ~ .user,
.field:valid ~ .user{
    position: absolute;
    top: 272px;
    left: 90px;
    font-size: 14px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}
.field:focus ~ .pass,
.field:valid ~ .pass{
    position: absolute;
    top: 332px;
    left: 90px;
    font-size: 14px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}
.fa-eye{
    position: absolute;
    right: 80px;
    top: 355px;
    font-size: 17px;
    color: var(--primary-color);
}
.fa-eye:hover{
    cursor: pointer;
}
.fa-eye.active{
    color: var(--secondary-color);
}
.icon{
    position: absolute;
    right: 80px;
    top: 415px;
    font-size: 17px;
    color: var(--primary-color);
}
.icon:hover{
    cursor: pointer;
}
.icon.active{
    color: var(--secondary-color);
}

.field:focus ~ .repass,
.field:valid ~ .repass{
    position: absolute;
    top: 392px;
    left: 90px;
    font-size: 14px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}

@media only screen and (max-width: 755px) {
    .form-container{
        height: 60vh;
        margin: 90px;
        min-width: 558px;
    }
    .mname{
        left: 220px;
    }
    .field:focus ~ .fname,
    .field:valid ~ .fname{
        position: absolute;
        top: 72px;
        left: 65px;
        font-size: 12px;
        background-color: var(--secondary-color);
        border-radius: 30px;
        color: var(--black-color);
        padding: 0 10px;
    }
    .field:focus ~ .mname,
    .field:valid ~ .mname{
        position: absolute;
        top: 72px;
        left: 225px;
        font-size: 12px;
        background-color: var(--secondary-color);
        border-radius: 30px;
        color: var(--black-color);
        padding: 0 10px;
    }
    .lname{
        left: 385px;
    }
    .field:focus ~ .lname,
    .field:valid ~ .lname{
        position: absolute;
        top: 72px;
        left: 395px;
        font-size: 12px;
        background-color: var(--secondary-color);
        border-radius: 30px;
        color: var(--black-color);
        padding: 0 10px;
    }
    .bday{
        font-size: 12px;
    }
    .field1{
        width: 155px;
    }
    .age1{
        left: 220px;
    }
    .field1:focus ~ .age1,
    .field1:valid ~ .age1{
        position: absolute;
        top: 142px;
        left: 235px;
        font-size: 12px;
        background-color: var(--secondary-color);
        border-radius: 30px;
        color: var(--black-color);
        padding: 0 10px;
    }
    .belt1{
        left: 395px;
        font-size: 12px;
    }
    .role{
        left: 395px;
    }
}

@media only screen and (max-width: 580px){
    .form-container{
        min-width: 400px;
        overflow-y: scroll;
        
    }
    .inputBox{
        width: 330px;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .form-container::-webkit-scrollbar-track{
        background: transparent;
        border-radius: 50vw;
        margin-block: 1.5em;
    }
    .form-container::-webkit-scrollbar{
        width: 3px;
        padding-right: 10px;
        margin-top: 10px;
    }
    .form-container::-webkit-scrollbar-thumb{
        background-color: var(--secondary-color);
        border-radius: 100vw;
    }
    .row1{
        align-items: center;
    }
    .row1, .row2{
        flex-direction: column;
        padding: 0;
    }
    .row3{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .details3{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .fname{
        left: 70px;
    }
    .mname{
        top: 157px;
        left: 70px;
    }
    .field:focus ~ .fname,
    .field:valid ~ .fname{
        left: 75px;
    }
    .field:focus ~ .mname,
    .field:valid ~ .mname{
        top: 134px;
        left: 75px;
    }
    .lname{
        left: 70px;
        top: 218px;
    }
    .field:focus ~ .lname,
    .field:valid ~ .lname{
        left: 75px;
        top: 194px;
    }
    .field1{
        width: 90%;
    }
    .details1{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .bday{
        top: 255px;
        left: 75px;
    }
    .age1{
        top: 338px;
        left: 70px;
    }
    .field1:focus ~ .age1,
    .field1:valid ~ .age1{
        left: 75px;
        top: 314px;
    }
    .belt1{
        top: 375px;
        left: 75px;
    }
    .gym1{
        top: 457px;
        left: 70px;
    }
    #role.optionField{
        width: 90%;
    }
    .role{
        top: 492px;
        left: 75px;
    }
    .field:focus ~ .gym1,
    .field:valid ~ .gym1{
        left: 75px;
        top: 432px;
    }
    .user{
        left: 70px;
        top: 575px;
    }
    .field:focus ~ .user,
    .field:valid ~ .user{
        left: 75px;
        top: 552px;
    }
    .pass{
        top: 636px;
        left: 70px;
    }
    .field:focus ~ .pass,
    .field:valid ~ .pass{
        left: 75px;
        top: 613px;
    }
    .repass{
        top: 695px;
        left: 70px;
    }
    .field:focus ~ .repass,
    .field:valid ~ .repass{
        left: 75px;
        top: 673px;
    }
    .fa-eye{
        top: 636px;
        right: 70px;
    }
    .icon{
        top: 695px;
        right: 70px;
    }
}