<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Form</title>

</head>
<body>
    <div class="form-container">
        <h2>Signup Form</h2>
        <form name="signup_form">

            <label for="firstname">First Name</label>
            <input type="text" name="firstname" class="field" required>
        
            <label for="middlename">Middle Name</label>
            <input type="text" name="middlename" class="field" required>
        
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" class="field" required>
        
            <label for="birthdate">Birthdate</label>
            <input type="date" name="birthdate" class="field" required>
        
            <label for="age">Age</label>
            <input type="number" name="age" class="field" required>
        
            <label for="belt">Belt</label>
            <input type="text" name="belt" class="field" required>
        
            <label for="gym">Gym</label>
            <input type="text" name="gym" class="field" required>
        
            <label for="username">Username</label>
            <input type="text" name="username" class="field" required>
        
            <label for="password">Password</label>
            <input type="password" name="password" class="field" required>
        
            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" class="field" required>
        
            <p class="error--hidden"></p>
        
            <input type="submit" value="Sign Up" class="btn">
        
        </form>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/static/assets/js/scripts.js"></script>
    </div>
</body>
</html>